{
    "redditAppId": "",
    "mongodbConnection": "mongodb://localhost/your_database_name",
    "awsId": "",
    "awsSecret": "",
    "awsTag": "",
    "messagerRedditUsername": "",
    "messagerRedditPassword": ""
}
